---
import Layout from '../layouts/Layout.astro';
export const prerender = true;

---

<Layout title="Error 404 | ICEP">
    <div class=" mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-center items-center h-[calc(100vh-18rem)]">
        <p class="font-black text-6xl">ERROR 404</p>
        <h1 class="font-medium text-xl mt-2">- La página solicitada no existe -</h1>
    </div>
</Layout>