---
import Layout from '../layouts/Layout.astro';
export const prerender = true;

---

<Layout title="Error 404 | ICEP">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-center items-center h-screen">
        <p class="font-medium text-3xl">ERROR 404</p>

        <h1 class="font-medium text-xl">La pagina solicitada no existe</h1>

    </div>
</Layout>