---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro";
import { Image } from 'astro:assets';
import Timeline from "../components/Timeline.jsx";

---

<Layout title="ICEP | Actvidades Cronologico">
    <Header/>
    <section class="py-16">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex flex-col justify-center items-center space-y-8">
            <div>
              <h2 class="text-4xl  text-custom-blue mb-6">
                Actvidades en orden Cronologico
              </h2>
            </div>
            <div class="w-full">
              <Timeline client:only/>
            </div>
          </div>
        </div>
      </section>
    <Footer/>
</Layout>