---
import BeliefsDropdown from "../components/BeliefsDropdown.jsx";
import Layout from "../layouts/Layout.astro";
import Values from "../components/Values.astro";
import PG01 from "../assets/PG01.webp";
import { Image } from "astro:assets";
export const prerender = true;
---

<Layout title="ICEP | Creencias">
  <section class="py-16">
    <div
      class="flex flex-col lg:flex-row items-center lg:items-stretch h-screen p-6"
    >
      <!-- Sección izquierda: Imagen -->
      <div class="flex-1 flex items-center justify-center bg-gray-100 p-4">
        <Image
          src={PG01}
          alt="Acerca de nosotros"
          class="w-4/5 h-auto max-h-[80%] rounded-lg shadow-lg"
        />

        <!-- Sección derecha: Texto -->
        <div
          class="flex-1 flex flex-col items-center justify-center text-center bg-white p-6"
        >
          <h1 class="text-4xl lg:text-6xl font-bold text-gray-800 mb-4">
            Acerca de nosotros
          </h1>
          <p class="text-lg lg:text-2xl text-gray-600 leading-relaxed">
            Su misión principal es la enseñanza de las Sagradas Escrituras, la
            Biblia, y la predicación del evangelio de Jesucristo. La iglesia
            está formada por personas que han reconocido su necesidad
            espiritual, se han arrepentido de sus pecados y han aceptado la
            gracia salvadora de Dios mediante la fe en Jesucristo.
          </p>
        </div>
      </div>

      <Values />

      <BeliefsDropdown client:visible />
    </div>
  </section>
</Layout>
