---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
---

<Layout title="ICEP | Declaracion de Fe">
  <Header />
  <section class="py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col justify-center items-center space-y-8">
        <div>
          <h1 class="text-4xl font-playfair text-accent mb-6">
            Declaracion de Fe
          </h1>
        </div>
        <div>
          <article
            class="prose lg:prose-xl mt-2 pt-8 border-t border-white-700 text-justify"
          >
            <h2>¿En que creemos?</h2>
            <p>
              Desde 1980 se levantó sobre la Ruta. 25 - Av H.Pueyrredón 2775
              (Pilar a Escobar) y entre las varias tareas que comprenden el
              objetivo de su misión, tiene la actividad de la IGLESIA CRISTIANA
              EVANGELICA, fundamentada en, la enseñanza de las Sagradas
              Escrituras, La Biblia. La Iglesia Cristiana Evangélica se integra
              con las personas que en su necesidad espiritual se han reconocido
              a si mismas como pecadoras y se han acogido a la gracia salvadora
              de Dios, mediante el arrepentimiento de sus pecados y la fe en la
              persona de Jesucristo como Salvador y Redentor. A ello se debe que
              su misión irrenunciable sea la de predicar el evangelio de nuestro
              Señor Jesucristo siguiendo el mandato expresado, a sus discípulos
              (Evangelio de San Marcos 16: 15), bautizar a los que creen en el
              Nombre del Padre, del Hijo y del Espíritu Santo; recibirlos a la
              comunión de la iglesia local para "perseverar en la doctrina de
              los apóstoles, en la comunión unos con otros", "en el partimiento
              del pan y en las oraciones" (Los Hechos 2: 42), y enseñar todas
              las cosas que Jesús mandó. (Evangelio de San Mateo 28:18-20). De
              acuerdo a la enseñanza bíblica, se reconoce que todos los
              creyentes redimidos por la sangre de Cristo, forman parte de la
              iglesia, no aceptando otro nombre que los expresamente formulados
              en la Biblia y que entre otros se pueden detallar como
              "cristianos" (Hechos 11: 26 y Hechos 26: 28, 1 Pedro 4:16),
              "creyentes" (1Tesalonicenses. 2:13, 1 Timoteo. 4:12), "hermanos"
              (Gálatas. 1:2). De este modo, cada creyente redimido está unido al
              cuerpo de Cristo que es la iglesia, mediante la obra del Espíritu
              Santo, reconociendo al Señor Jesucristo como el Soberano Señor y
              Cabeza de su Iglesia. Todos los miembros que integran la Iglesia
              Cristiana Evangélica, reconocen la soberanía del Espíritu Santo,
              el cual de acuerdo a la promesa del Señor descendió en el día de
              Pentecostés y actúa para con los no creyentes redarguyendo de
              pecado, de justicia y de juicio, y llevándolos a la convicción de
              sus pecados para arrepentimiento. En consecuencia obra en cada
              creyente la regeneración, salvando y redimiendo, invistiéndole con
              el bautismo del Espíritu Santo y facultándolo con los dones que
              distribuye para la edificación del cuerpo de Cristo. (Efesios
              4:11-16). La enseñanza bíblica en cuanto a la iglesia, establece
              el gobierno de la misma por medio de sus: pastores, ancianos y
              sobreveedores, a los que capacita y llama para el ministerio con
              el reconocimiento de los miembros de la iglesia para acompañarles
              en la labor de pastorear y conducir la grey de Dios. (Hechos
              20:28, 1Pedro 5:1-11). Los siguientes enunciados conforman la
              declaración de fe que hacemos conocer como base de nuestra acción:
            </p>
            <p><br /><br /></p>
            <p>
              <strong><em>CREEMOS:</em></strong> En Dios creador de todas las cosas,
              uno y único: "Jehová es Dios, y no hay otro fuera de él", Deuteronomio
              4:35.
              <br />"Jehová nuestro Dios, uno es", Deuteronomio 6:4.
              <br />"Que te conozcan a ti, el único Dios verdadero", Juan 17:3.
              <br />Eternamente existente en tres personas: Padre, Hijo y
              Espíritu Santo (Juan 15:26; 17:3; Mateo 28:19; Hebreos 9:14; 2
              Corintios.13:14).
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> En Dios creador del hombre a su
              imagen, a imagen de Dios lo creó, varón y hembra los creo. Gé.1:27
              y 28. Instituyendo así el matrimonio Gé.2: 23,24,25
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que el Señor Jesucristo es plena
              y eternamente Dios. Nació de la virgen María, siendo perfecto y sin
              pecado. Su sacrificio. es substitutivo y representativo. El resucitó
              corporalmente de entre los muertos y ascendió a la diestra de su Padre,
              donde ahora actúa como nuestro único mediador y Sumo Sacerdote.
              <br />El vendrá a arrebatar a su Iglesia y luego retornará para
              reinar sobre la tierra (Colosenses. 2:9; Lucas 1:26-35; 1
              Corintios. 15:3-4; Hechos 1:6-11; Hebreos 4:14-16; 1Tesalonicenses
              4: 13-18; 2 Corintios. 5:21; 1 Pedro. 2:22; Hebreos 1:8; 1Timoteo.
              2:5; Hechos 7: 55).
              <br />Cada miembro de la raza humana es un pecador caído y
              "perdido", y la regeneración por el Espíritu Santo es
              absolutamente esencial para la salvación del hombre. La redención
              es enteramente por la sangre de Cristo y la salvación es por
              gracia mediante la fe en nuestro Señor Jesucristo (Romanos. 3:23;
              Efesios. 2:8-10; Hechos 4:12; Tito 3:4-7).
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> En su muerte vicaria y expiatoria
              como única base de redención, y en su intercesión actual y permanente,
              a favor de los salvados. "Porque también Cristo padeció una sola vez
              por los pecados, el justo por los injustos, para llevarnos a Dios",
              1° Pedro 3:18. "Viviendo siempre para interceder por ellos", Hebreos
              7:25.
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> En su resurrección corporal y ascensión
              a la gloria. "y cuando les hubo dicho esto, les mostró las manos y
              el costado. Y los discípulos se regocijaron viendo al Señor". Juan
              20:20. "Y habiendo dicho estas cosas, viéndolo ellos, fue alzado",
              Hechos 1:9.
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> En la glorificación y exaltación
              de Nuestro Señor Jesucristo: "Que a este Jesús a quien vosotros crucificasteis,
              Dios le ha hecho Señor y Cristo", Hechos 2: 36. "Toda lengua confiese
              que Jesucristo es el Señor para gloria de Dios Padre", Filipenses.
              2:11.
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> En su segunda venida para buscar
              a sus salvados constituidos santos: "Vendré otra vez y os tomaré a
              mí mismo", Juan 14:3.
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que Jesucristo es la cabeza de la
              Iglesia y quien la gobierna y dirige: "Y lo dio por cabeza sobre todas
              las cosas a la Iglesia....que todo lo llena en todo", Efesios 1: 22-23.
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que la Iglesia es el cuerpo de Cristo,
              formada por todas las personas que han recibido a Cristo como Salvador
              personal. "Vosotros, pues, sois el cuerpo de Cristo, y miembros cada
              uno en particular", 1Corintios 12:27.
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que la Biblia es inspirada por Dios,
              inerrante e infalible en los documentos originales, y constituye la
              autoridad final en todo asunto de fe y práctica (2Timoteo 3: 14-17:
              2 Pedro 1:19-21; Hechos 17:11).
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que la Iglesia comenzó con el descenso
              del Espíritu Santo en Pentecostés y está compuesta de todos los verdaderos
              creyentes en el Señor Jesucristo. Estos creyentes están unidos a El,
              y los unos a los otros, por el Espíritu Santo que mora en ellos. Esto
              significa que la Iglesia no es una organización sino un organismo viviente,
              conocido como el cuerpo de Cristo. La vocación, esperanza y destino
              de la Iglesia son celestiales, y sus funciones principales son glorificar
              a Dios y testificar de Cristo hasta que El venga. La iglesia local
              está compuesta de creyentes en un barrio o localidad que se reúnen
              en el nombre de Cristo para la adoración, oración, edificación y testimonio.
              El gobierno y la disciplina, según las epístolas, Son la responsabilidad
              de cada iglesia local (Efesios 4: 3-6; 1: 22- 23 ).
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que Dios da dones espirituales como
              y cuando quiere a todos los creyentes para la edificación del cuerpo
              de Cristo que es la Iglesia (1Corintios 12:4-11; Romanos 12:5-8; Efesios
              4:11-16). La Biblia enseña además que cada creyente es un sacerdote
              que tiene libertad, bajo la guía del Espíritu Santo, para ocuparse
              en la adoración al Padre (1Pedro 2: 5-9; Hebreos 10:19-22).
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que los dones de, "señales": lenguas,
              sanidades, milagros, interpretación de lenguas, profecías, discernimiento
              de espíritus, han cumplido su cometido, y han cesado en la era apostólica,
              según se desprende de las evidencias bíblicas, 1ª Corintios 13: 8
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que cada creyente, puede y debe
              ser lleno del Espíritu Santo, constituyendo esto un ejercicio permanente,
              de disciplina, santidad y consagración. " Antes bien, sed llenos del
              Espíritu", Efesios 5:18. Dependiendo dicha llenura, exclusivamente
              de cada individuo.
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que pasado el período apostólico,
              y no habiendo sucesión apostólica, no existe más imposición de manos.
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que los dones de "señales" fueron
              utilizados para certificar la proclamación del glorioso mensaje del
              Evangelio, en el principio de la Iglesia. "Una salvación tan grande.
              ..confirmada por los que oyeron. ..con señales y prodigios y diversos
              milagros", Hebreos 2:3-4. Con potencia de señales y prodigios", Romanos
              15:19
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que el Espíritu Santo, se manifiesta
              en el presente tiempo, para la edificación de la Iglesia, y la glorificación
              de nuestro Señor Jesucristo. " A fin de perfeccionar a los Santos para
              la obra del ministerio, para la edificación del cuerpo de Cristo",
              Efesios 4:12. "El me glorificará; porque tomará de lo mío, y os lo
              hará saber", Juan 16:14
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que hay dos ordenanzas cristianas,
              el Bautismo y la Cena del Señor. El bautismo por inmersión significa
              que el, creyente, habiendo muerto con Cristo, es sepultado con El en
              el bautismo y también resucitado con Cristo para andar en novedad de
              vida. La Cena del Señor es una reunión conmemorativa, instituída por
              el mismo Señor exclusivamente para los suyos. En la observación de
              la misma, los creyentes. lo recuerdan a El y anuncian su muerte hasta
              que El venga (Mateo 28:19; Romanos 6:3-4; 1Corintios 11:23-26).
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que cada verdadero hijo de Dios
              posee la vida eterna y, siendo justificado, santificado y sellado con
              el Espíritu Santo, está seguro para la eternidad. Sin embargo un creyente:
              puede, por el pecado, perder su comunión, gozo, poder, testimonio y
              recompensa e incurrir en el castigo del Padre. La relación es eterna,
              siendo establecida por el nuevo nacimiento: la comunión, sin embargo,
              depende de la obediencia (Juan 10:27-28; 1Juan 1:6-10; Colosenses 2:18;
              Apocalipsis 3:11). Todos los creyentes están llamados a una vida de
              santidad y separación de toda práctica y alianza mundanal y pecaminosa
              (1 Tesalonicenses. 4:3: 1 Pedro 1:13-19; 2:11-16; 2 Corintios 6:14-17:
              1Corintios 6:12-20).
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> En la seguridad de la salvación
              eterna, de los creyentes, salvación que no puede perderse, recibida
              por el arrepentimiento y confesión sólo a Dios, de nuestros pecados,
              recibiendo a Jesucristo como Salvador personal. "Mis ovejas oye mi
              voz. ..y yo les doy vida eterna; y no perecerán jamás. ..mi Padre que
              me las dio, es mayor que todos y nadie las puede arrebatar de la mano
              de mi Padre", Juan 10:27-29. "Si confesamos nuestros pecados, El es
              fiel y justo para perdonar nuestros pecados, y limpiarnos de toda maldad",
              1ª Juan 1:9.
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que los salvos y los perdidos resucitarán;
              los salvos para la vida eterna, y los perdidos para la condenación
              eterna y consciente (1 Corintios15.52: Hechos. 24:15; 2 Tesalonicenses
              1:7-9: Apocalipsis 20:11-15).
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que el regreso personal de Jesucristo
              para arrebatar a su Iglesia es inminente y dará así fin a esta edad
              actual de gracia. Esto será seguido por la manifestación de la ira
              de Dios sobre la tierra, conocido como la Gran Tribulación. Después
              de esto el Reino Milenial de Cristo será establecido y "la tierra será
              llena del conocimiento de la gloria de Jehová como las aguas cubren
              al mar". Luego de la conclusión de su reinado milenial. Cristo entregará
              el Reino a Dios el Padre, para que el trino Dios sea todo en todos
              (Juan 14:2-3; Santiago 5:7-8; Apocalipsis 22:12-20; 1Corintios15:23
              ).
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que Jesucristo es la cabeza de la
              Iglesia y quien la gobierna y dirige: "Y lo dio por cabeza sobre todas
              las cosas a la Iglesia....que todo lo llena en todo", Efesios 1: 22-23.
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> Que la Iglesia es el cuerpo de Cristo,
              formada por todas las personas que han recibido a Cristo como Salvador
              personal. "Vosotros, pues, sois el cuerpo de Cristo, y miembros cada
              uno en particular", 1ª Cor. 12:27.
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> En la autonomía de gobierno de las
              iglesias locales, pero en la unidad de principios y comunión de prácticas
              tal como se enseña en la Palabra de Dios. "Solícitos en guardar la
              unidad del Espíritu en el vínculo de la paz; un cuerpo, un Dios y Padre
              de todos", Efesios 4: 3-6. "Las iglesias tenían paz ... y se acrecentaban
              fortalecidas por el Espíritu Santo", Hechos 9 :31
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> En el Tribunal de Cristo, donde
              las obras del servicio cristiano, serán juzgadas y recibirán recompensa:
              "Porque es necesario que todos nosotros comparezcamos ante el tribunal
              de Cristo, para que cada uno reciba según lo que haya hecho", 2 Corintios
              5:10.
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> En que el Señor ha de juzgar a vivos
              y a muertos : "El es el que Dios ha puesto por juez de vivos y muertos",
              Hechos 10: 42
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> En la condenación eterna de todos
              aquellos que han rechazado a Cristo: "Y el que no se halló inscripto
              en el libro de la vida fue lanzado al lago de fuego" Apocalipsis 20:15
            </p>
            <p>
              <strong><em>CREEMOS:</em></strong> En un cielo nuevo y una tierra nueva
              donde no habrá más pecado: " Ví un cielo nuevo y una tierra nueva.
              ..Y oí una gran voz. ..Y Dios mismo estará con ellos como su Dios",
              Apocalipsis 21: 1-4.
            </p>
          </article>
        </div>
      </div>
    </div>
  </section>
  <Footer />
</Layout>
