---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Timeline from "../components/Timeline.jsx";
export const prerender = true;
---

<Layout title="ICEP | Historia">
  <section class="py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col justify-center items-center space-y-8">
        <div>
          <h1 class="text-4xl font-playfair text-accent mb-6">Historia</h1>
        </div>
        <div class="w-full">
          <Timeline client:only/>
        </div>
      </div>
    </div>
  </section>
</Layout>
