---
import Layout from "../layouts/Layout.astro";
import timelineEvents from "../data/history.json";

export const prerender = true;
---

<Layout title="ICEP | Historia">
  <section class="py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col justify-center items-center space-y-8">
        <div>
          <h1 class="text-3xl font-bold mb-6">Historia</h1>
        </div>
        <div class="w-full">
          <div class="text-white py-10 px-5 flex justify-center">
            <div class="max-w-3xl">
              <div class="relative border-l-4 border-gray-300 pl-6">
                {
                  timelineEvents.map((event, index) => (
                    <div class="mb-10 relative">
                      <div class="absolute -left-[10px] w-5 h-5 bg-white border-4 border-gray-900 rounded-full" />
                      <div class="bg-zinc-700 p-5 rounded-lg shadow-lg">
                        <p class="text-sm text-gray-400 font-normal">
                          {event.date}
                        </p>
                        <h3 class="text-lg font-bold mb-2">{event.title}</h3>
                        <p class="text-gray-300">{event.details}</p>
                      </div>
                    </div>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
