---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Timeline from "../components/Timeline.jsx";
---

<Layout title="ICEP | Historia">
  <section class="py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col justify-center items-center space-y-8">
        <div>
          <h1 class="text-4xl font-playfair text-accent mb-6">Historia</h1>
        </div>
        <div class="w-full">
          <Timeline client:only/>
        </div>
        {/*
        <article class="prose lg:prose-xl mt-2 pt-8 border-t border-white-700">
          <h2>Reseña Histórica</h2>
          <p>
            Transcurría el año 1979 y sabíamos de la viva intención y deseos de
            Carmelo y Betty Racciatti por abrir nuevos surcos en la extensión
            del testimonio evangélico. Ellos hicieron partícipe del sentir a los
            hermanos en la iglesia local de Villa Devoto y además a un buen
            grupo de hermanos y familias vinculadas con los trabajos de la obra,
            buscando la intercesión en oración para hallar el lugar donde
            desarrollar el proyecto.
          </p>
          <p>
            De manera paralela y en nuestro orden laboral, las regulaciones de
            la Ciudad de Bs. As. para aquel momento no permitían el asentamiento
            de industrias, por lo tanto en relación con la Planta de Abrasivos,
            teníamos que encontrar algo en un radio de 50 Km. Por lo tanto,
            Edgardo Racciatti y Eduardo Carbone conociendo de cerca el proyecto
            misionero procuramos sumar el proyecto vinculado al aspecto
            industrial.
          </p>
          <p>
            Así fue que recorrimos lugares unos tan distantes de otros como
            Luján, Rodríguez, Garín, Savio, Pilar en el Km 58; allí había una
            construcción con tres naves fabriles; estando a un paso de cerrar la
            operación, si no fuese porque no aceptaron la contraoferta
            compradora.
          </p>
          <p>
            No pasó mucho tiempo más en que el Señor nos llevó a visitar las
            parcelas en las que al fin pudimos instalarnos.
          </p>
          <p>
            Un trabajo previo a través de la Emisora Difusora América nos
            permitió presentar el programa de Meditaciones Cristianas y más
            luego el programa Buenos días Pilar.
          </p>
          <p>
            Se participa de esta información a los hermanos Antonio Calçada y
            Rubén Andrés, siendo ellos residentes en Pilar con las conocidas
            quintas El Dorado y La Lomita respectivamente.
          </p>
          <p>
            Un gran problema era afrontar el costo de la propiedad, en un tiempo
            de inflación constante que marcó las décadas de los años setenta y
            ochenta, que hubo de animarse a tomar un crédito en moneda
            extranjera; frente a esa inestabilidad se hacía más complicado
            vender nuestras propiedades y concretar el proyecto.
          </p>
          <p>
            El Señor permitió alcanzar a escriturar el predio que constaba de 2
            parcelas, el día 8 de abril de 1980.
          </p>
          <p>
            Estando en posesión del predio y en una tarde fresca, precisamente
            donde está establecido el actual monolito con placas de
            aniversarios, estábamos con Don Carmelo; rodeados de yuyos altos,
            muchos penachos de las pampas y abrojos, y desde esa posición
            podíamos imaginar las obras edilicias. De allí en más, manos a la
            obra...
          </p>
          <p>
            Lo que no estaba en los planes de quien suscribe (Eduardo Carbone),
            pero sí en los del Señor, es que desde ese momento, en razón de la
            distancia con Bs. As. donde residíamos, habría de tener que ocuparme
            como sobrestante de las construcciones; involucrando el manejo de
            compras de materiales y contrataciones de personal y dirección de
            obra bajo la guía de los hermanos Santiago Tomeo y Blas Gaetani. Los
            planes industriales se fueron atrasando, no así lo vinculado con las
            edificaciones.
          </p>
          <p>
            Durante el año 1980 se dio lugar a hacer mejoras en el predio:
            cerrar con alambrado olímpico, rotobatear y pasar el disco en todo
            el campo desyuyando la maleza y proceder a sembrar el césped.
          </p>
          <p>
            Se instalaron los tinglados en cada parcela y rápidamente pudimos
            instalar el Salón carpa que habría de servirnos provisoriamente para
            las reuniones, al que en muy poco tiempo hubo que refaccionar
            levantando paredes y techando en chapa.
          </p>
          <blockquote>
            "...y me seréis testigos en Jerusalén, en Judea, en Samaria, y hasta
            lo último de la tierra" Hechos 1:8
          </blockquote>
          <p>
            Tanto así que el 12 de octubre de 1980, convocando a los hermanos de
            la iglesia que dejábamos, y junto a hermanos familiares e invitados,
            con mucha emoción, rodeábamos el Monolito donde habríamos de
            descubrir la placa inaugural y colocación de la piedra fundamental,
            dando lugar a la iniciación de la iglesia con la celebración de la
            Cena del Señor.
          </p>
          <p>
            Asistieron y participaron unos 300 hermanos presentes, con quienes
            pudimos mantener un buen tiempo de comunión en el almuerzo
            congregacional que se llevó a cabo.
          </p>
          <p>
            En un lugar prácticamente desolado, en medio del "campo" y ubicado a
            3 km del casco de la Ciudad de Pilar, el Señor nos permitía comenzar
            una tarea que decimos es un milagro misionero de hoy. El grupo de
            hermanos fundadores entre los que se encontraron: Luis A. Plá y
            Noemí de Plá, Pablo Rogers y su esposa Joane, Mateo Lococo y Rosita
            de Lococo, Santiago Tomeo, Eduardo Carbone y Susana Racciatti de
            Carbone, y con el primer fruto bautizado Tita de Lubo, se pudo
            concretar la primera tarea con el reconocimiento del cuerpo de
            ancianos y colaboradores, primera y fundamental tarea para la obra
            recién comenzada.
          </p>
          <p>
            A pesar del grupo reducido del comienzo, se enfrentaba la tarea
            inmediata de utilizar el Salón Cultural perteneciente a la
            Municipalidad de Pilar, lo que se hizo con la colaboración de muchos
            hermanos y especialmente los hermanos de la iglesia en Villa Real
            que desarrollaron una cantata, oportunidad que ante autoridades
            municipales presentes nos permitieron dejar como recuerdo de la
            ocasión un ejemplar de la Biblia. Este aliento, como la colaboración
            del hermano Guillermo Ferraro instruyendo para el trabajo de “horas
            Felices”, permitió durante varios domingos preparar a aquellos que
            luego saldrían a los barrios más próximos para atender a los niños.
          </p>
          <h2>Bº Pellegrini - Vª Rosa</h2>
          <p>
            El proyecto involucraba el establecimiento de una obra evangélica
            fundamental, que no la había en la zona, con el soporte de extensión
            en lo espiritual, educacional, literario y radial.
          </p>
          <p>
            La definición primaria de las edificaciones no era lo que son hoy;
            durante la incipiente marcha hubo que retrotraer pasos y, dada la
            acuciante situación inflacionaria, se adaptó el tinglado desde sus
            bases para poder efectuar una submuración y así construir el
            subsuelo, ganando de esta manera superficie cubierta.
          </p>
          <p>
            Transcurrió muy poco tiempo también para comenzar a ver los primeros
            frutos de la siembra, a lo cual se fueron sumando algunos creyentes
            que residían en las cercanías y comenzaron a congregarse localmente.
          </p>
          <p>
            Mencionamos a algunos de ellos, a saber: Julio Cajal y Familia,
            Anastasio Zunna y Sra., Familia Vega, Daniel Alvarez y Roxana, Tita
            Lubo, Familia Huayhua, Familia Herrera, Fernando Rodríguez, Familia
            Silva, Jorge Ostapczuk y Familia, Familia Soraides, Roberto H. de
            Lamano.
          </p>
          <p>
            Un buen grupo de hermanos que residían en Derquí, se congregaban en
            San Miguel; dada la cercanía a Pilar comenzaron a sumarse a la
            actividad, entre ellos: Familia Gira, Familia Velásquez, Familia
            Mollo, entre otros.
          </p>
          <p>
            Durante muchos años hicimos el servicio de buscarles en la estación
            Pilar del FFCC San Martín. Hubo allí las reuniones caseras, campañas
            de carpa, adquisición de lote para la obra.
          </p>
          <p>
            No mucho más tarde, en el año 1981, arribó a la congregación el
            hermano Francisco López, hermano con quien siempre hubo lazos de
            profundo afecto. Se radicó junto con su familia en la zona, siendo
            de aliento y apoyo en la obra local.
          </p>
          <p>
            De allí en más se fueron sumando una larga lista de hermanos y
            familias.
          </p>
        </article>
        */}
      </div>
    </div>
  </section>
  <Footer />
</Layout>
