---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import logoInstituto from '../assets/logo_instituto.png';
import logoIbjm from '../assets/logo_ibjm.png';
---

<Layout title="Instituto Bíblico CEP | ICEP">  
  <section class="bg-accent py-12 text-black">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-playfair">Instituto Bíblico CEP</h1>
    </div>
  </section>

  <main class="py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div>
        <div class="grid md:grid-cols-2 gap-12 items-center">
          <div>
            <Image 
              src={logoInstituto}
              alt="Logo Instituto" 
              class="w-6/12"
            />
          </div>
          <div class="prose prose-lg">
            <p>Durante muchos años, la Iglesia Cristiana Evangélica en el Complejo Evangélico Pilar, tomó la posibilidad de la enseñanza sistemática de la Palabra de Dios, aparte de los mensajes de enseñanza y edificación de los días domingo. Durante algún tiempo, durante los meses de marzo a diciembre, los días jueves se particionó el tiempo juntos en: rondas de oración y luego el Instituto Bíblico.</p>
            
            <p>En sus comienzos, el Instituto Bíblico de los días jueves se realizaba bajo el auspicio y orientación del Instituto Bíblico Jorge Müller y llegado el año 2012 con la reorganización del IBJM pasamos a ser Sede incorporada.</p>
          </div>
        </div>
        <div class="grid md:grid-cols-2 gap-12 items-center">
          <div class="prose prose-lg">
            <p>Desde el año 2020 al atravesar la Pandemia de Covid-19, la Iglesia quedó como Sede Virtual del Instituto Bíblico Jorge Müller, en modalidad vía Zoom y dos días por semana.</p>
            
            <p>Cada estudiante, como siempre, puede asistir como alumno-oyente o alumno bajo examen. El Instituto percibe una mínima cuota para cubrir gastos de material de estudio.</p>
          </div>
          <div>
            <Image 
              src={logoIbjm}
              alt="Logo IBJM" 
              class="w-8/12"
            />
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>