---
import Ministerios from "../layouts/Ministerios.astro";
export const prerender = true;
---

<Ministerios title="ICEP | Niños">
    <meta http-equiv="refresh" content={`0;url=/`} />

    <h1 slot="title" class="text-3xl font-bold z-0">Niños</h1>
    <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" slot="content">
        <div class="flex flex-col justify-center items-center space-y-8"></div>
    </section>
</Ministerios>
