---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
---

<Layout title="ICEP | Prologo">
    <section class="py-16">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex flex-col justify-center items-center space-y-8">
                <div>
                    <h1 class="text-4xl font-playfair text-accent mb-6">
                        Prologo
                    </h1>
                </div>
                <div>
                    <article
                        class="prose lg:prose-xl mt-2 pt-8 border-t border-white-700"
                    >
                        <h2>25º Aniversario de la Obra en Pilar</h2>
                        <p>
                            Cuando la vida nos introduce en la realidad, se
                            acaban las palabras y solo quedan los hechos que la
                            conforman. Quienes conocimos a Carmelo y a Bety,
                            aprendimos de ellos el significado de los términos
                            “obediencia, dependencia, compromiso, trabajo, fe y
                            esperanza”.
                        </p>
                        <p>
                            Corría el año 1979, cuando se concreta el proyecto
                            de iniciar una nueva obra como extensión de la
                            existente en Gabriela Mistral Nº 3437 de Capital
                            Federal.
                        </p>
                        <p>
                            Los "sueños" son el "prólogo de los proyectos a
                            realizar", y el anhelo de los emprendedores es
                            convertir en realidad sus sueños. La distancia que
                            media, desde donde nacen los sueños, hasta su
                            ejecución, depende de muchos factores, uno de ellos
                            es la seguridad de la convicción, el coraje de
                            encararlos, y la decisión de hacerlos. "Mientras el
                            día dura".
                        </p>
                        <p>
                            Cuando pensábamos que tenía Carmelo —visto desde
                            nuestra corta visión— "su vida ya hecha y realizada
                            con éxitos y bendiciones", habiendo construido su
                            último proyecto en la Iglesia de G. Mistral,
                            arrastrado por su pasión por la extensión del
                            evangelio, a los 60 años, con su clásico y admirable
                            dinamismo, junto con su simpática y amada Bety, deja
                            la ciudad para "clavar la pala" en medio del campo,
                            en las afueras de Pilar, en una zona casi inhóspita
                            y despoblada, que iría con el tiempo tomando un auge
                            destacado para convertirse hoy en un centro
                            comercial y habitacional próspero y lleno de
                            recursos industriales.
                        </p>
                        <p>
                            "Una carpa de lona" por templo, "su casa", "la
                            imprenta", y el incipiente edificio para escuela fue
                            el comienzo de lo que hoy es una realidad asombrosa,
                            el Complejo Evangélico Pilar.
                        </p>
                        <p>
                            Contó con la guía y ayuda del Señor, y el apoyo de
                            su esposa, de su hija, yerno y nietos, que sumados
                            al de un grupo de hermanos conformaron como
                            iniciadores, que aportaron su esfuerzo, ofrendaron
                            de sus bienes, y le agregaron como condimento,
                            entusiasmo y coraje a esta patriada de fe.
                        </p>
                        <p>
                            Quienes tuvimos el privilegio de compartir la obra
                            del Señor con Carmelo, en la Comisión de
                            Conferencias, en Meditaciones Cristianas, y en
                            tantas otras tareas en la que estaba involucrado,
                            tenemos fresco en nuestro recuerdo, su fe
                            inquebrantable, su entusiasmo contagioso, su
                            valentía envidiable y por sobre todas sus virtudes,
                            su dependencia absoluta y encomiable del Señor.
                        </p>
                        <p>
                            Con el aporte invalorable de su "itálico carácter",
                            que le suministraba la energía necesaria para no
                            amilanarse ante las adversidades, ni por el pesado
                            lastre de los problemas. Siempre tenía en sus venas,
                            los "glóbulos renovadores" y una salida inteligente
                            y sabia, a cada situación que se le presentaba.
                        </p>
                        <p>
                            No solo ha hecho una obra admirable, que evidencia
                            la guía y la bendición del Señor que se la encargó,
                            sino que supo preparar discípulos que siguieran sus
                            pasos, con igual entusiasmo y dedicación, contando
                            con el idéntico sello de "calidad divina" y de
                            "aprobación evidente", que se manifiesta en todo el
                            desarrollo de esta magnífica obra de Pilar.
                        </p>
                        <p>
                            Deseamos al compartir este 25 aniversario, dar
                            gracias a Dios por Su fidelidad, por darnos el
                            privilegio de haber compartido la vida con hombres y
                            mujeres como Bety y Carmelo, que han tenido la dicha
                            de ver realizado su sueño, y palpar por los
                            resultados a la vista que "Dios es confiable", que
                            "está activo", que "es emprendedor" y nos da el
                            placer de comprobar, que "Él no fracasa, ni se
                            equivoca" cuando decide sus obras y escoge a sus
                            siervos.
                        </p>
                        <p>
                            Hoy podemos reiterar nuestra afirmación... Dios
                            cumple sus promesas, mantiene indestructible su
                            fidelidad, y nos estimula a seguir como "Sus
                            atletas", en este privilegiado andarivel de nuestra
                            carrera terrenal, para comprobar con nuestros
                            propios sentidos su promesa "Estaré con vosotros
                            siempre" por lo tanto, "mi palabra no volverá a mi
                            vacía".
                        </p>
                        <p>
                            Cuando el sol se pone cada día en el horizonte, nos
                            dice antes de retirarse, que "el día ya va a
                            terminar". Cuando el alba nos muestra que los rayos
                            de febo comienzan a adornar el cielo y a bañar la
                            tierra, trae la noticia que "una nueva jornada se
                            inicia" con su cúmulo de esperanzas y de
                            ilusiones...
                        </p>
                        <p>
                            Así es nuestra vida... nuestra noche aquí, ya está
                            por terminar... la cercana alborada de un nuevo y
                            eterno día ya está a las puertas...
                        </p>
                        <p>
                            Que la experiencia de los que nos precedieron, sea
                            un despertador de nuestras conciencias, para
                            "redimir el tiempo", "hacer obra de evangelista",
                            "cumplir el ministerio", "guardar la fe..." por lo
                            demás, ser conscientes que "nos está reservado la
                            corona de justicia", "el galardón que dará el Juez
                            justo a todos los que esperan su venida", cuando
                            comience el pleno disfrute del eterno día en la
                            ciudad de Dios.
                        </p>
                        <h4>Osvaldo D. Otero</h4>
                        <h4>Septiembre de 2005</h4>
                    </article>
                </div>
            </div>
        </div>
    </section>
</Layout>
