---
---

<section class="bg-slate-100 py-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-12">
      <h2 class="text-3xl font-playfair text-accent mb-4">Contáctanos</h2>
      <p class="text-gray-600">Estamos aquí para responder tus preguntas</p>
    </div>
    
    <div class="grid md:grid-cols-2 gap-8">
      <div class="bg-white p-6 rounded-lg shadow-sm">
        <h3 class="text-xl font-semibold mb-4">Información de Contacto</h3>
        <div class="space-y-4">
          <p class="flex items-center">
            <span class="mr-2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-5 fill-custom-blue">
                <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clipRule="evenodd" />
              </svg>
            </span>
            <a href="https://maps.app.goo.gl/TEdvqX2pNJz34sfn8" class="text-primary hover:underline">
              Av. Dr. Honorio Pueyrredón 2775, Pilar, Buenos Aires
            </a>
            
          </p>
          <p class="flex items-center">
            <span class="mr-2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-5 fill-custom-blue">
                <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
              </svg>
              
            </span>
            <a href="mailto:contacto@icepilar.org" class="text-primary hover:underline">
              contacto@icepilar.org
            </a>
          </p>
        </div>
      </div>
      
      <div class="bg-white p-6 rounded-lg shadow-sm">
        <h3 class="text-xl font-semibold mb-4">Horarios de Reunión</h3>
        <p class="text-gray-600">
          Domingos: 9:00 - 13:00<br>
          Miércoles: 20:00<br>
          Sábados: Consultar calendario
        </p>
      </div>
    </div>
  </div>
</section>