---
---

<section class="relative bg-accent py-20 ">
  <div class="max-w-7xl mx-auto px-6 lg:px-8 lg:px-10 text-center">
    <blockquote class="text-2xl font-playfair italic">
      "Cree en el Señor Jesucristo, y serás salvo. Jesucristo es el Señor, para gloria de Dios Padre."
    </blockquote>
  </div>
</section>