---
import "../styles/global.css";
import '@fontsource-variable/outfit';
import '@fontsource/anton';

import { ClientRouter } from "astro:transitions";
import Footer from '../components/Footer.astro';
import Header from '../components/camps/2025/CampNavbar.jsx';

interface Props {
  title: string;
  description?: string;
}


const { title, description = "Iglesia Cristiana Evangélica en Pilar - Sitio Oficial" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/LogoWhite.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="min-h-screen font-sans-camp bg-green-800 text-white">
    <Header client:idle  />
    <slot />
    <Footer />
  </body>
</html>