---
import "../styles/global.css";
import '@fontsource/merriweather';
import '@fontsource-variable/noto-sans';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.jsx';
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
}

const currentPath = Astro.url.pathname;

const { title, description = "Iglesia Cristiana Evangélica en Pilar - Sitio Oficial" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/LogoWhite.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="min-h-screen bg-zinc-800 text-white">
    <Header client:visible location={currentPath}/>
    <slot />
    <Footer />
  </body>
</html>