---
import '@fontsource/poppins';
import '@fontsource/playfair-display';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Iglesia Cristiana Evangélica en Pilar - Sitio Oficial" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-slate-50 font-poppins">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --primary: #177AAC;
    --secondary: #721305;
    --accent: #003E5C;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>