---
import "../styles/global.css";
import "@fontsource/merriweather";
import "@fontsource-variable/noto-sans";
import Footer from "../components/Footer.astro";
import Header from "../components/Navbar.tsx";
import Loading from "../components/Loading.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  showLoading?: boolean;
}

const {
  title,
  description = "Iglesia Cristiana Evangélica en Pilar - Sitio Oficial",
  showLoading = false, 
} = Astro.props;
---

<!doctype html>
<html class="dark" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" sizes="96x96" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <title>{title}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YZ4DX7X5N0"
    ></script><script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-YZ4DX7X5N0");
    </script>
  </head>

  <body class="min-h-screen bg-white dark:bg-zinc-900 text-black dark:text-white">
    {showLoading && <Loading />}
    <Header client:idle />
    <slot />
    <Footer />  
  </body>
</html>
