---
import "../styles/global.css";
import "@fontsource/merriweather";
import "@fontsource-variable/noto-sans";
import Footer from "../components/Footer.tsx";
import Analytics from '@vercel/analytics/astro'
import Header from "../components/Navbar.tsx";

interface Props {
  title: string;
  description?: string;
  showLoading?: boolean;
}

const {
  title,
  description = "Iglesia Cristiana Evangélica en Pilar - Sitio Oficial",
} = Astro.props;


---

<!doctype html>
<html class="dark" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />


    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Analytics />
  </head>

  <body class="min-h-screen bg-white dark:bg-neutral-900 text-black dark:text-white">
    <Header client:idle />
    <slot />
    <Footer />  
  </body>
</html>
