---
import { Image } from 'astro:assets'
import CampLayout from '../../../layouts/CampLayout.astro'
---
<CampLayout title="Camp25 | Horarios">
    <main class="flex flex-col justify-center items-center">
        <h1 class="text-5xl font-black uppercase">Horario</h1>
    </main>
</CampLayout>