---
import CampLayout from '../../../layouts/CampLayout.astro'
import { getDaysForEvent } from "../../../services/days.js";
import days from "../../../data/camps/2025/schedule.json"

---
<CampLayout title="Camp25 | Horarios">
    <main class="flex flex-col justify-center items-center">
        <h1 class="text-4xl font-black uppercase mb-8 py-8">Horarios</h1>
        <section class="grid grid-cols-1 sm:grid-cols-2 justify-items-center m-8 p-4 gap-8 w-full">
            {days.map((day) => (
                <div class={`w-full p-8 rounded-xl ${getDaysForEvent() === day.number ? "bg-white text-green-800" : "ring ring-1 ring-white text-white"} animate-float `}>
                    <h2 class="text-4xl font-bold mb-4">{day.day}</h2>
                    {day.schedule.map((item) => (
                        item.link ? (
                          <a>
                            <p class="text-xl">{item.text + ": " + item.link}</p>
                          </a> 
                          ) : (
                          <p class="text-xl">{item.text}</p>
                          )
                    ))}
                </div>
            ))}
        </section>
    </main>
</CampLayout>