---
import { Image } from 'astro:assets'
import CampLayout from '../../../layouts/CampLayout.astro'
import Songs from '../../../components/camps/2025/Songs.jsx'
---
<CampLayout title="Camp25 | Alabanza">
    <main class="flex flex-col justify-center items-center">
        <h1 class="text-5xl font-black uppercase mb-8 py-8">Alabanza</h1>
        <Songs client:idle />
    </main>
</CampLayout>